<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form role="form" th:action="@{/addBus}" method="post">
    <div class="form-group">
        <label>Bus Name</label>
        <input class="form-control" type="text" name="Name" required>
    </div>

    <div class="form-group">
        <label>Plate Number</label>
        <input class="form-control" type="text" name="PlateNumber" required>
    </div>
    <div>
        <label>Type:</label>
        <select class="custom-select" name="Type" required>
            <option value="" disabled selected hidden>Select Bus Type</option>
            <option value="Luxury">Luxury</option>
            <option value="Semi-Luxury">Semi-Luxury</option>
        </select>
    </div>
    <br>


    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-default">Reset </button>
</form>


</body>
</html>