<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form role="form" th:action="@{/AddBranch}" method="post">

    <div>
        <label>Bus</label>
        <select class="custom-select" name="City">
            <option value="" selected>SELECT CITY</option>
            <option th:each="city:${cities}" th:value="${city.ID}" th:text="${city.getCityName()}"></option>
        </select>
    </div>

    <div class="form-group">
        <label>Branch Name</label>
        <input class="form-control" type="text" name="CenterName" required>
    </div>


    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-default">Reset </button>
</form>


</body>
</html>