<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form role="form" th:action="@{/addTrip}"  method="post">


    <div>
        <label>Bus</label>
        <select class="custom-select" name="bus" th:field="*{buses}">
            <option value="" selected>SELECT BUS</option>
            <option th:each="bus:${buses}" th:value="${bus.ID}" th:text="${bus.getName()}"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Departure City</label>
        <select class="form-control"  id="exampleFormControlSelect1" type="text" name="DepartureCity" required>
            <option value="" disabled selected hidden>select city</option>
            <option>Dar es Salaam</option>
            <option>Mwanza</option>
            <option>Arusha</option>
            <option>Kilimanjaro</option>
            <option>Tanga</option>
            <option>Dodoma</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Arrival City</label>
        <select class="form-control" id="exampleFormControlSelect2" type="text" name="ArrivalCity" required>
            <option value="" disabled selected hidden>select city</option>
            <option>Dar es Salaam</option>
            <option>Mwanza</option>
            <option>Arusha</option>
            <option>Kilimanjaro</option>
            <option>Tanga</option>
            <option>Dodoma</option>
        </select>
    </div>
    <div class="form-group">
        <label>Fare</label>
        <input class="form-control" type="text" name="Fare" required>
    </div>


    <div class="form-group">
        <label>Departure Date</label>
        <input class="form-control" type="date" name="TravelDate" required>
    </div>




    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-default">Reset </button>
</form>


</body>
</html>