<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form role="form" th:action="@{/searchTrip}" method="post">

    <div class="form-group">
        <label>From</label>
        <input class="form-control" type="text" name="departureCity" required>
    </div>
    <div class="form-group">
        <label>To</label>
        <input class="form-control" type="text" name="arrivalCity" required>
    </div>
    <div class="form-group">
        <label>Departure Date</label>
        <input class="form-control" date="date" name="departureDate" required>
    </div>



    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-default">Reset </button>
</form>

</body>
</html>