<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form role="form" th:action="@{/RegisterCustomer}" method="post">

    <div class="form-group">
        <label>First Name</label>
        <input class="form-control" type="text" name="FirstName" required>
    </div>
    <div class="form-group">
        <label>Middle Name</label>
        <input class="form-control" type="text" name="MiddleName" required>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" type="text" name="LastName" required>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" name="Email" required>
    </div>
    <div class="form-group">
        <label>Mobile Number</label>
        <input class="form-control" type="tel" name="MobileNumber" required>
    </div>



    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-default">Reset </button>
</form>

</body>
</html>