<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Departure date</th>
        <th>Bus Type</th>
        <th>Fare</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="bus:${buses}">
        <td th:text="${bus.getDepartureCity()}"></td>
        <td th:text="${bus.getArrivalCity()}"></td>
        <td th:text="${bus.getTravelDate()}"></td>
        <td th:text="${bus.getBusType()}"></td>
        <td th:text="${bus.getBusFare()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>