<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout::header"></head>
<body>
<div th:replace="layout::sidebar"></div>
    <div class="jumbotron">

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-plane fa-fw"></i> Recent Bus
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Mobile Number</th>
                                            <th>Branch</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user:${users}">

                                            <td th:text="${user.getFirstName()}"></td>
                                            <td th:text="${user.getMiddleName()}"></td>
                                            <td th:text="${user.getLastName()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td th:text="${user.getMobileNumber()}"></td>
                                            <td th:text="${user.getBranch()}"></td>
                                            <td th:text="${user.getRole()}"></td>


                                            <td><a th:href="@{/editUser/{id}(id=${user.ID})}"><i class="fa fa-edit"></i></a></td>
                                            <td> <a th:href="@{/deleteUser/{id}(id=${user.ID})}"><i class="fa fa-trash"></i></i></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /#wrapper -->
<div th:replace="layout::js"></div>
</body>
</html>
